{% extends "place_base/base.html" %}

{% load widget_tweaks %}

{% block title %}비밀번호 찾기 | Coplate{% endblock title %}

{% block main_area %}
<section class="login py-5 border-top-1">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-8 align-item-center">
      <div class="border">
        <h3 class="bg-gray p-4">비밀번호찾기</h3>

  <form method="post">

    {% csrf_token %}
    <div style="margin:1rem 0.5rem 1rem 0.5rem">
      {{ form.email|add_class:"cp-input"|attr:"placeholder:가입시 등록한 이메일을 입력해 주세요."|add_error_class:"error" }}
      {% for error in form.email.errors %}
        <div class="error-message">{{ error }}</div>
      {% endfor %}
    </div>
    <button class="btn btn-primary font-weight-bold mt-3 cp-button" style="margin-bottom:1rem; margin-left:1rem;" type="submit">이메일 보내기</button>

  </form>

</div>
</div>
</div>
</div>
</section>
{% endblock main_area %}
